.nav-link {
    color: #FFF !important;
}

.list-container {
    padding-bottom: 20px;
}

.article-container {
    background-color: #fff;
    padding-bottom: 20px;
}

.summary-container a {
    text-decoration: none;
    color: black;
}

.summary-container a:hover {
    text-decoration: underline;
}

.tint-color {
    color: #4A90E2;
    border-color: #4A90E2;
}

.article-detail-container {
    background-color: red;
}

.tag-badge-container a {
    color: #fff;
}