{{ define "main" }}

<div class="container about-container">
    <div class="row">
        <div class="col">
            {{ .Content }}

            <div>
                <h4>Contact</h4>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-inline contact-list">
                                <li class="list-inline-item contact-link">
                                    <a href="https://github.com/ski081" target="_blank">
                                        <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
                                    </a>                                
                                </li>
                                <li class="list-inline-item contact-link">
                                    <a href="https://www.linkedin.com/in/mark-struzinski/" target="_blank">
                                        <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
                                    </a>                                
                                </li>
                                <li class="list-inline-item contact-link">
                                    <a href="https://twitter.com/ski081" target="_blank">
                                        <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
                                    </a>                                
                                </li> 
                                <li class="list-inline-item contact-link">
                                    <a href="mailto:mark@markstruzinski.com" target="_blank">
                                        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                                    </a>                                
                                </li>               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
