<!doctype html>
<html>
    <head>
        {{ partial "header-includes.html" }}

        <title>
            {{ block "title" . }}
                {{ .Site.Title }} {{ if not .IsHome }} | {{ .Title }} {{ end }}
            {{ end }}
        </title>
    </head>
    
    <body>
        <div class="site-container">
            {{ block "header" . }}{{ partial "site-header.html" . }}{{ end }}

            <main>
                {{ block "main" . }}{{ end }}
            </main>
    
            {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
        </div>
    </body>
</html>
