{{ define "main" }}

    <div class="article-detail-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ .Title }}</h1>        
                    {{ partial "byline.html" . }}

                    <div class="article-content">
                        {{ .Content }}
                    </div>

                    {{ partial "tag-section.html" . }}
                </div>
            </div>
        </div>
    </div>

{{ end }}