<div class="series-summary">
    {{ if .Params.series }}
        {{ $name := index .Params.series 0 }}
        <hr/>
        <p>
            This is a post in the <b>{{$name}}</b> series.
        </p>
        <p>        
            Other posts in this series:
            <br/>
        </p>

        {{ range $series.Pages }}
            <a href="{{.Permalink}}" class="series-card-link">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card series-summary-card">
                                <div class="card-block">
                                    <h4 class="card-title">{{.LinkTitle}}</h4>
                                    <p class="text-secondary">
                                        {{.Date.Format "2006-01-02"}}
                                    </p>
        
                                    <div class="card-block">
                                        {{ .Summary }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </a>
        {{ end }}
    {{ end }}    
</div>
