<div class="series-summary">
    {{ if .Params.series }}
        {{ $name := index .Params.series 0 }}
        <hr/>
        <p>
            This is a post in the <a href="/series/{{$name | urlize}}"><b>{{$name}}</b></a> series.
        </p>
        <p>        
            Other posts in this series:
            <br/>
        </p>

        {{ $name := $name | urlize }}
        {{ $series := index .Site.Taxonomies.series $name }}

        {{ range $series.Pages }}        
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card series-summary-card">
                            <div class="card-block">
                                <div class="series-card-header">
                                    <a href="{{.Permalink}}">
                                        <h4 class="card-title">{{.LinkTitle}}</h4>
                                    </a>
                                    <p class="text-secondary series-summary-date">
                                        {{.Date.Format "2006-01-02"}}
                                    </p>
                                </div>    
                                <div class="card-block series-summary-content">
                                    {{ .Summary }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        {{ end }}

    {{ end }}    
</div>
