<footer class="bg-dark text-light footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="float-left footer-container">
                    <p class="text-muted footer-copy">
                        Copyright &copy; Mark Struzinski 2017
                    </p>
                </div>
                <div class="float-right footer-container">
                    <ul class="list-inline footer-list">
                        <li class="list-inline-item">
                            <a href="https://github.com/ski081" target="_blank">
                                <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/mark-struzinski/" target="_blank">
                                <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/ski081" target="_blank">
                                <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
                            </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
{{ partial "footer-includes.html" }}